@model AcoTerra.Web.Models.Trucks.TruckCreateViewModel

@{
    ViewData["Title"] = "Crear Camiones";
}

<h1>Crear Camion</h1>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="mb-3">
        <label asp-for="Brand" class="form-label"></label>
        <input asp-for="Brand" class="form-control"/>
        <span asp-validation-for="Brand" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="LicensePlate" class="form-label"></label>
        <input asp-for="LicensePlate" class="form-control"/>
        <span asp-validation-for="LicensePlate" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="Model" class="form-label"></label>
        <input asp-for="Model" class="form-control"/>
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="ManufacturingYear" class="form-"></label>
        <input asp-for="ManufacturingYear" type="number" class="form-control" step="1"/>
        <span asp-validation-for="ManufacturingYear" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ChassisNumber" class="form-label"></label>
        <input asp-for="ChassisNumber" class="form-control"/>
        <span asp-validation-for="ChassisNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="EngineNumber" class="form-label"></label>
        <input asp-for="EngineNumber" class="form-control"/>
        <span asp-validation-for="EngineNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TrailerId" class="form-label"></label>
        <select asp-for="TrailerId" asp-items="Model.Trailers" class="form-select">
            <option value="" style="color: gray">Seleccione un tráiler</option>
        </select>
        <span asp-validation-for="TrailerId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DriverId" class="form-label"></label>
        <select asp-for="DriverId" asp-items="Model.Drivers" class="form-select">
            <option value="" style="color: gray">Seleccione un conductor</option>
        </select>
        <span asp-validation-for="DriverId" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>